/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#shipments {
    list-style-type: none;
    padding: 0;
}

#shipments li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

#shipments li:hover {
    background-color: #e0e0e0;
}

#details-container {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
